@charset "UTF-8";

body{
	font-size:22px;
	padding:0;
}

#logolien{
	margin:40px 0 80px 0;
}
#titre{
	
	text-align : center;
	margin-bottom : 30px;

}
.marge{
	padding:0;
}

.insertion{
	margin-bottom: 30px;
	
}
.bold{
	font-weight : bold;
}
#btn_enr{

	height : 68px;
	margin-right : 75px;
	margin-bottom : 30px;


}
#btn_sup{
	height : 68px;
	margin-right : 75px;
	margin-bottom : 30px;
	color:black;
	
}
#btn_ret{
   height : 68px;
   margin-bottom : 30px;
   color:black;
   
   
}
#btn_modif{
	 height : 68px;
   margin-bottom : 30px;
	
	
}

